// Basic Variables
$line-height: 2rem;
$letter-spacing: 1;
$base-color: #3A3A3A;
$header-color: #000;
$theme-color: #d99054;
// Regular Text
$font-size: 18px;
$text-font: 'Merriweather Light';

// Navigation Text
$nav-font-size: 20px;
$nav-font: 'Oswald Regular';
$nav-color: #000;


// paragraph
p {
    font-size: $font-size !important;
    font-family: $text-font !important;
    color: $base-color;
    line-height: $line-height !important;
    letter-spacing: $letter-spacing !important;
}

// Navigation
nav {
    font-size: $nav-font-size !important;
    font-family: $nav-font !important;

    a {
        color: #fff;
        text-decoration: none;
    }

    a:hover {
        color: #248A83;
        text-decoration: underline;
    }
    // color: $nav-color !important;
}
// Heading1 
h1 {
    font-size: 40px !important;
    font-family: 'Oswald Bold' !important;
    color: $header-color;
}

// Heading2
h2 {
    font-size: 36px !important;
    font-family: 'Oswald Bold' !important;
    color: $header-color;
}

h3 {
    font-size: 30px !important;
    font-family: 'Oswald Bold' !important;
    color: $header-color;
}

h4 {
    font-size: 26px !important;
    font-family: 'Oswald Bold' !important;
    color: $theme-color;
}

h5 {
    font-size: 20px !important;
    font-family: 'Oswald Bold' !important;
    color: $header-color;
}

h6 {
    font-size: 18px !important;
    font-family: 'Oswald Bold' !important;
    color: $header-color;
}

.page-spacer {
    padding: 50px;
}