footer {
    background: url(images/footer/dark-wood.png);
    height: 400px;
}

.footer-container {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    padding-top: 100px;
}

.footer-info {
    padding-left: 150px;
    
    h4 {
        padding-bottom: 50px;
    }

    span {
        padding-left: 20px;
    }

    p {
        color: #fff;
    }
}

.footer-content h4 {
    text-transform: uppercase;
}

.footer-image img {
   float: right;
   padding-right: 10%;

}

.footer-copyright {

    p {
        text-align: center;
        color: #fff;
        padding-top: 70px;
    }
}