.nav-right {
    float: right;
    padding-top: 17.5px;

    ul{
        display: flex;
        flex-direction: row;
        text-transform: uppercase;

        li {
            padding-left: 20px;
        }
    }
}

nav {
    position: absolute;
    z-index: 100;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 20px;
}