.menu{
    width: 100%;
    display: grid;
    grid-template-columns: 12fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    color: white;
    position: absolute;
    top: 5%;
    font-family: $nav-font;
    border-bottom: 1px solid red;
    
   

    
    // transform: translate(-50%,-50%);
    z-index: 9999;
}
    
.menu a {
    color: red;
    text-decoration: none;
    text-align: center;

}

#menu-item-39 {
    padding-left: 30px;
}