/*
Theme Name: Inhabitent
Author: Rob H
Description: A wicked theme I made.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: inhabitent
*/
p {
  font-size: 18px !important;
  font-family: "Merriweather Light" !important;
  color: #3A3A3A;
  line-height: 2rem !important;
  letter-spacing: 1 !important; }

nav {
  font-size: 20px !important;
  font-family: "Oswald Regular" !important; }
  nav a {
    color: #fff;
    text-decoration: none; }
  nav a:hover {
    color: #248A83;
    text-decoration: underline; }

h1 {
  font-size: 40px !important;
  font-family: 'Oswald Bold' !important;
  color: #000; }

h2 {
  font-size: 36px !important;
  font-family: 'Oswald Bold' !important;
  color: #000; }

h3 {
  font-size: 30px !important;
  font-family: 'Oswald Bold' !important;
  color: #000; }

h4 {
  font-size: 26px !important;
  font-family: 'Oswald Bold' !important;
  color: #d99054; }

h5 {
  font-size: 20px !important;
  font-family: 'Oswald Bold' !important;
  color: #000; }

h6 {
  font-size: 18px !important;
  font-family: 'Oswald Bold' !important;
  color: #000; }

.page-spacer {
  padding: 50px; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  width: 100%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Merriweather Regular Bold';
  src: url("fonts/merriweather/fonts/Merriweather-Bold.eot");
  src: url("fonts/merriweather/fonts/Merriweather-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/merriweather/fonts/Merriweather-Bold.woff2") format("woff2"), url("fonts/merriweather/fonts/Merriweather-Bold.woff") format("woff"), url("fonts/merriweather/fonts/Merriweather-Bold.ttf") format("truetype"), url("fonts/merriweather/fonts/Merriweather-Bold.svg#Merriweather-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Merriweather Black Italic';
  src: url("fonts/merriweather/fonts/Merriweather-BlackItalic.eot");
  src: url("fonts/merriweather/fonts/Merriweather-BlackItalic.eot?#iefix") format("embedded-opentype"), url("fonts/merriweather/fonts/Merriweather-BlackItalic.woff2") format("woff2"), url("fonts/merriweather/fonts/Merriweather-BlackItalic.woff") format("woff"), url("fonts/merriweather/fonts/Merriweather-BlackItalic.ttf") format("truetype"), url("fonts/merriweather/fonts/Merriweather-BlackItalic.svg#Merriweather-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Merriweather Black Bold';
  src: url("fonts/merriweather/fonts/Merriweather-Black.eot");
  src: url("fonts/merriweather/fonts/Merriweather-Black.eot?#iefix") format("embedded-opentype"), url("fonts/merriweather/fonts/Merriweather-Black.woff2") format("woff2"), url("fonts/merriweather/fonts/Merriweather-Black.woff") format("woff"), url("fonts/merriweather/fonts/Merriweather-Black.ttf") format("truetype"), url("fonts/merriweather/fonts/Merriweather-Black.svg#Merriweather-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Merriweather Light';
  src: url("fonts/merriweather/fonts/Merriweather-Light.eot");
  src: url("fonts/merriweather/fonts/Merriweather-Light.eot?#iefix") format("embedded-opentype"), url("fonts/merriweather/fonts/Merriweather-Light.woff2") format("woff2"), url("fonts/merriweather/fonts/Merriweather-Light.woff") format("woff"), url("fonts/merriweather/fonts/Merriweather-Light.ttf") format("truetype"), url("fonts/merriweather/fonts/Merriweather-Light.svg#Merriweather-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Merriweather Regular Italic';
  src: url("fonts/merriweather/fonts/Merriweather-Italic.eot");
  src: url("fonts/merriweather/fonts/Merriweather-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/merriweather/fonts/Merriweather-Italic.woff2") format("woff2"), url("fonts/merriweather/fonts/Merriweather-Italic.woff") format("woff"), url("fonts/merriweather/fonts/Merriweather-Italic.ttf") format("truetype"), url("fonts/merriweather/fonts/Merriweather-Italic.svg#Merriweather-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Merriweather Light Italic';
  src: url("fonts/merriweather/fonts/Merriweather-LightItalic.eot");
  src: url("fonts/merriweather/fonts/Merriweather-LightItalic.eot?#iefix") format("embedded-opentype"), url("fonts/merriweather/fonts/Merriweather-LightItalic.woff2") format("woff2"), url("fonts/merriweather/fonts/Merriweather-LightItalic.woff") format("woff"), url("fonts/merriweather/fonts/Merriweather-LightItalic.ttf") format("truetype"), url("fonts/merriweather/fonts/Merriweather-LightItalic.svg#Merriweather-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Merriweather Bold Italic';
  src: url("fonts/merriweather/fonts/Merriweather-BoldItalic.eot");
  src: url("fonts/merriweather/fonts/Merriweather-BoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/merriweather/fonts/Merriweather-BoldItalic.woff2") format("woff2"), url("fonts/merriweather/fonts/Merriweather-BoldItalic.woff") format("woff"), url("fonts/merriweather/fonts/Merriweather-BoldItalic.ttf") format("truetype"), url("fonts/merriweather/fonts/Merriweather-BoldItalic.svg#Merriweather-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Merriweather Regular';
  src: url("fonts/merriweather/fonts/Merriweather-Regular.eot");
  src: url("fonts/merriweather/fonts/Merriweather-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/merriweather/fonts/Merriweather-Regular.woff2") format("woff2"), url("fonts/merriweather/fonts/Merriweather-Regular.woff") format("woff"), url("fonts/merriweather/fonts/Merriweather-Regular.ttf") format("truetype"), url("fonts/merriweather/fonts/Merriweather-Regular.svg#Merriweather-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Oswald Regular';
  src: url("fonts/oswald/fonts/Oswald-Regular.eot");
  src: url("fonts/oswald/fonts/Oswald-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/oswald/fonts/Oswald-Regular.woff2") format("woff2"), url("fonts/oswald/fonts/Oswald-Regular.woff") format("woff"), url("fonts/oswald/fonts/Oswald-Regular.ttf") format("truetype"), url("fonts/oswald/fonts/Oswald-Regular.svg#Oswald-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Oswald Bold';
  src: url("fonts/oswald/fonts/Oswald-Bold.eot");
  src: url("fonts/oswald/fonts/Oswald-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/oswald/fonts/Oswald-Bold.woff2") format("woff2"), url("fonts/oswald/fonts/Oswald-Bold.woff") format("woff"), url("fonts/oswald/fonts/Oswald-Bold.ttf") format("truetype"), url("fonts/oswald/fonts/Oswald-Bold.svg#Oswald-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Oswald Semi Bold';
  src: url("fonts/oswald/fonts/Oswald-SemiBold.eot");
  src: url("fonts/oswald/fonts/Oswald-SemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/oswald/fonts/Oswald-SemiBold.woff2") format("woff2"), url("fonts/oswald/fonts/Oswald-SemiBold.woff") format("woff"), url("fonts/oswald/fonts/Oswald-SemiBold.ttf") format("truetype"), url("fonts/oswald/fonts/Oswald-SemiBold.svg#Oswald-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

.nav-right {
  float: right;
  padding-top: 17.5px; }
  .nav-right ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-transform: uppercase; }
    .nav-right ul li {
      padding-left: 20px; }

nav {
  position: absolute;
  z-index: 100;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 20px; }

footer {
  background: url(images/footer/dark-wood.png);
  height: 400px; }

.footer-container {
  display: grid;
  grid-template-columns: 2fr 2fr 3fr;
  padding-top: 100px; }

.footer-info {
  padding-left: 150px; }
  .footer-info h4 {
    padding-bottom: 50px; }
  .footer-info span {
    padding-left: 20px; }
  .footer-info p {
    color: #fff; }

.footer-content h4 {
  text-transform: uppercase; }

.footer-image img {
  float: right;
  padding-right: 10%; }

.footer-copyright p {
  text-align: center;
  color: #fff;
  padding-top: 70px; }

.homepage-banner {
  width: 100%;
  height: auto;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  position: relative; }

.front-logo {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-10%, -50%);
          transform: translate(-10%, -50%); }

.about-page-container {
  position: relative; }
  .about-page-container img {
    -webkit-filter: brightness(50%);
            filter: brightness(50%); }
  .about-page-container h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -80%);
            transform: translate(-50%, -80%);
    color: #FFF !important;
    font-size: 3rem !important;
    text-transform: uppercase; }

.about-content-container {
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto; }
  .about-content-container h2 {
    padding: 50px 0px; }
  .about-content-container p {
    text-align: left; }

.findus-container {
  display: grid;
  grid-template-columns: 5fr 1fr;
  padding-top: 150px;
  margin-left: 10%;
  margin-right: 10%; }
  .findus-container h2 {
    text-transform: uppercase;
    padding-bottom: 30px; }

.findus-content {
  width: 85%; }
  .findus-content iframe {
    margin: 0px 0px 30px; }
  .findus-content p {
    margin-bottom: 30px; }
