@font-face {
    font-family: 'Oswald Regular';
    src: url('fonts/oswald/fonts/Oswald-Regular.eot');
    src: url('fonts/oswald/fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/oswald/fonts/Oswald-Regular.woff2') format('woff2'),
        url('fonts/oswald/fonts/Oswald-Regular.woff') format('woff'),
        url('fonts/oswald/fonts/Oswald-Regular.ttf') format('truetype'),
        url('fonts/oswald/fonts/Oswald-Regular.svg#Oswald-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald Bold';
    src: url('fonts/oswald/fonts/Oswald-Bold.eot');
    src: url('fonts/oswald/fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/oswald/fonts/Oswald-Bold.woff2') format('woff2'),
        url('fonts/oswald/fonts/Oswald-Bold.woff') format('woff'),
        url('fonts/oswald/fonts/Oswald-Bold.ttf') format('truetype'),
        url('fonts/oswald/fonts/Oswald-Bold.svg#Oswald-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald Semi Bold';
    src: url('fonts/oswald/fonts/Oswald-SemiBold.eot');
    src: url('fonts/oswald/fonts/Oswald-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/oswald/fonts/Oswald-SemiBold.woff2') format('woff2'),
        url('fonts/oswald/fonts/Oswald-SemiBold.woff') format('woff'),
        url('fonts/oswald/fonts/Oswald-SemiBold.ttf') format('truetype'),
        url('fonts/oswald/fonts/Oswald-SemiBold.svg#Oswald-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

