.about-image {
        img {
            width: 100%;
            height: 525px;
            background-image: cover;
            display: grid;
            grid-template-columns: auto;
            position: relative;
            filter: brightness(50%);
            
        }

        h2 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 1;
            color: white;
            text-transform: uppercase;
            font-size: 40px;
        }
}

.about h3 {
    padding: 25px;
    font-size: 30px;
    font-family: 'Novecento Sans Web DemiBold';
}

.about p {
    display: grid;
    grid-template-columns: 800px;
    justify-content: center;
    text-align: justify;
    font-family: Merriweather Web Light; 
    color: #404040;
    padding-bottom: 20px;



    // letter-spacing: 1.5px;
    
}


