// Archive-adventures styling starts here
.adventures-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    padding: 90px 0px 40px;
    border-bottom: 1px dashed #c8c8c8;    
}

.adventures-main {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: center;
    grid-gap: 20px;
    padding: 50px;

        .adventures-title {
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            div {
                position: absolute;
                top: 0;

                p {
                    color: white;
                    font-size: 40px;
                    line-height: 1.75;
                    padding: 30px;
                    font-family: Merriweather Web Light;
                }

                a {
                    margin-top: 90px;
                    text-decoration: none;
                    color: white;
                    z-index: 9999;
                    border: 1px solid white;
                    padding: 10px;
                    text-transform: uppercase;
                    margin-left: 30px;
                }
            }

        }
    }
//Archive-adventures styling ends here

//-----------------------

//Single-adventures styling starts here
.adventures-content {
    display: grid;
    grid-template-columns: 800px;
    justify-content: center;

    h2 {
        padding-top: 40px;
        font-size: 20px;
        letter-spacing: .2rem;
        font-family: 'Novecento Sans Web DemiBold';
    }
    h4 {
        font-family: 'Novecento Sans Web';
    }
}

.adventures-social {
    display: grid;
    grid-template-columns: 100px 150px 100px;
    grid-gap: 5px;
    margin-top: 20px;

    li {
        text-align: center;
        border: 1px solid black;
        padding: 10px;
        text-transform: uppercase;
        font-family: $nav-font;
    }
}
//Single-adventures styling ends here