// .adventures-header {
//     text-align: center;
//     text-transform: uppercase;
//     font-size: 25px;
//     padding: 25px;
//     border-bottom: 1px dashed #c8c8c8;

// }



.adventures-main {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: center;
    grid-gap: 20px;
    padding: 50px;

        .adventures-title {
            position: relative;

            img {
                width: 100%;
                object-fit: cover;
            }

            div {
                position: absolute;
                top: 0;

                p {
                    color: white;
                    font-size: 60px;
                    line-height: 1.75;
                    padding: 30px;
                    font-family: Merriweather Web Light;
                }


                a {
                    margin-top: 90px;
                    text-decoration: none;
                    // position: absolute;
                    color: white;
                    z-index: 9999;
                    border: 1px solid white;
                    padding: 10px;
                    text-transform: uppercase;
                    margin-left: 30px;
                    // background-color: green;
                }
            }

        }
    }



// .adventures-title {
//     // img {
//     //     position: relative;
//     //     height: 450px;
//     // }

//     // p {
//     //     // display: flex;
//     //     // flex-wrap: wrap;
//     //     position: absolute;
//     //     z-index: 1;
//     //     color: white;
//     //     font-family: Merriweather Web Light;        
//     //     font-size: 50px;
//     //     // line-height: 1.75px;
//     //     margin-top: 50px;
        
//     // }
//     // a {
//     //     margin-top: 90px;
//     //     text-decoration: none;
//     //     position: absolute;
//     //     color: white;
//     //     z-index: 9999;
//     //     border: 1px solid white;
//     //     background-color: green;
//     // }
// }


.adventures-content {
    display: grid;
    grid-template-columns: 800px;
    justify-content: center;

    h2 {
        font-size: 20px;
        letter-spacing: .2rem;
        font-family: 'Novecento Sans Web DemiBold';
    }
    h4 {
        font-family: 'Novecento Sans Web';
    }
}
// .adventures-content-text {
//     // margin-top: 20px;
// }

.adventures-social {
    display: grid;
    grid-template-columns: 100px 150px 100px;
    grid-gap: 5px;
    margin-top: 20px;


    li {
        text-align: center;
        border: 1px solid black;
        padding: 10px;
        text-transform: uppercase;
        font-family: Novecento Sans Web;
    }
}