
.findus {
    
    display: grid;
    grid-template-columns: 70% 30%;
}
.findus-sidebar {
    margin-top: 20px;
    border-left: 1px solid #e1e1e1;
    padding-left: 30px;

}
.findus-form {
    margin-top: 20px;
    padding-top: 40px;
    width: 80%;

    h2 {
        font-size: 24px;
    }
}

.widgettitle {
    letter-spacing: .2rem;
}
.widget-area {
    margin-top: 50px;
    line-height: 2.0rem;
}