// .front-page-header {
    img {
        width: 100%;
        // height: 500px;
        // background-size: cover;
        position: relative;
        filter: brightness(60%);
    }

.front-logo {
    width: 250px;
    height: 250px;
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 40%;
}



.shop-stuff {
    padding: 30px;
    text-align: center;
}

.product_type_blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;

    img {
        width: 50px;
        height: 50px;
    }


}

.btn {
    background-color: #248A83;
    font-family: Novecento Sans Web;
    color: white;
    text-decoration: none;
    padding: 10px;
    // display: flex;

    
}