
.journal-page {
    display: grid;
    grid-template-columns: 70% 30%;
    padding-top: 60px;

    .btn {
        width: 150px;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px;
        text-align: center;    
        border: 1px solid #c8c8c8;
        font-family: Novecento Sans Web;
        color: black;
        margin-bottom: 60px;
        margin-top: 10px;
    }
}

.journal-post {
    display: grid;
    grid-template-columns: 90%;
    margin-left: 30px;

}

.journal-post-image {
    position: relative;
    padding-top: 40px;

    img {
        width: 100%;
        object-fit: cover;
        height: 450px;
        margin-bottom: 25px;
    }

    h2 {
        position: absolute;
        top: 60px;
        z-index: 1;
        border: 1px solid #248A83;
        color: white;
        background-color: #248A83;
        font-size: 24px;
        text-transform: uppercase;
        padding: 20px 30px;
        
    }
}


.single-journal {
    display: grid;
    grid-template-columns: 70% 30%;
    padding-top: 60px;
}

.single-journal-main {
    width: 90%;

    img {
        padding-top: 40px;

    }
}

.single-journal-social {
    display: grid;
    grid-template-columns: 100px 150px 100px;
    grid-gap: 5px;
    margin-top: 20px;


    li {
        text-align: center;
        border: 1px solid black;
        padding: 10px;
        text-transform: uppercase;
        font-family: $nav-font;
    }
}