
.journal-page {
    display: grid;
    grid-template-columns: 70% 30%;
    padding-top: 80px;

    .btn {
        width: 150px;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px;
        text-align: center;    
        border: 1px solid #c8c8c8;
        font-family: Novecento Sans Web;
        color: black;
        margin-bottom: 60px;
        margin-top: 10px;
    }
}

.journal-post {
    display: grid;
    grid-template-columns: 90%;
    margin-left: 30px;

}

.journal-post-image {
    position: relative;
    padding-top: 40px;

    img {
        width: 100%;
        object-fit: cover;
        height: 450px;
        margin-bottom: 25px;
    }

    h2 {
        position: absolute;
        top: 60px;
        z-index: 1;
        border: 1px solid #248A83;
        color: white;
        background-color: #248A83;
        font-size: 24px;
        text-transform: uppercase;
        padding: 20px 30px;
        
    }
    .journal-post-subimage {
        position: absolute;
        bottom: 25px;
        right: 0px;
        width: auto;
        padding: 0px 30px;
        text-transform: uppercase;
        font-size: 16px;
        color: white;
        border: 1px solid #248A83;
        background-color: #248A83;
    }
    
}

//Single-journal starts here

.single-journal {
    display: grid;
    grid-template-columns: 70% 30%;
    padding-top: 80px;
    margin-left: 30px;
}

.single-journal-main {
    width: 90%;
    position: relative;

    img {
        padding-top: 40px;
        width: 100%;
        object-fit: cover;
        height: 450px;

    }
    h2 {
        position: absolute;
        top: 60px;
        z-index: 1;
        border: 1px solid #248A83;
        color: white;
        background-color: #248A83;
        font-size: 24px;
        text-transform: uppercase;
        padding: 20px 30px;
        
    }
    .journal-single-subimage {
        position: absolute;
        top: 430px;
        right: 0px;
        width: auto;
        padding: 0px 30px;
        text-transform: uppercase;
        font-size: 16px;
        color: white;
        border: 1px solid #248A83;
        background-color: #248A83;
    }
}

.single-journal-posted {
    display: flex;
    flex-direction: row;
    width: auto;
    padding: 20px 0px;
    text-transform: uppercase;

    p {
        margin-right: 10px;
    }
    a {
        text-decoration: none;
        color: #248A83;
    }
    
}

.single-journal-social {
    display: grid;
    grid-template-columns: 100px 150px 100px;
    grid-gap: 5px;
    margin-top: 20px;


    li {
        text-align: center;
        border: 1px solid black;
        padding: 10px;
        text-transform: uppercase;
        font-family: $nav-font;
    }
}

//Comments section

.comment-body {
    display: grid;
    grid-template-columns: auto;

    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}

.comment-reply-title {
    font-family: $header-font;
    font-size: 24px;
    padding: 20px 0px;
    text-transform: uppercase;
}

.comment-form {
    p {
        font-family: $main-font;
        padding-bottom: 20px;
    }
}

.comment-form-comment {
    display: flex;
    flex-direction: column;
    label {
        font-family: $nav-font;
        text-transform: uppercase;
    }
    textarea {
        width: 700px;
        height: 200px;
        background-color: #e1e1e1;
        border: 1px solid #a1a1a1;
    }
}


.comment-form-author,
.comment-form-email {
    display: inline-block;
    width: 350px;

    label {
        font-family: $nav-font;
        text-transform: uppercase;
        span {
            color: #d99054;
        }
    }
    input {
        width: 345px;
        height: 50px;
        background-color: #e1e1e1;
        border: 1px solid #a1a1a1;
    }   
}

.comment-form-url {
    display: flex;
    flex-direction: column;
    input {
    width: 700px;
    height: 50px;
    background-color: #e1e1e1;
    border: 1px solid #a1a1a1;
    }
    label {
        font-family: $nav-font;
        text-transform: uppercase;
    }
}

.form-submit {
    input {
        color: white;
        background-color: #248A83;
        padding: 10px 20px;
        border: 1px solid #248A83;
        font-family: $nav-font;
        text-transform: uppercase;
        font-size: 16px;
    }
}