.search-post {
    width: 100%;
    margin: 0px;
    display: grid;
    grid-template-columns: 75% 25%;
}

.search-title {
    padding: 70px 30px 30px 30px;

    h2{
        color: #248A83;
        text-transform: uppercase;
        font-size: 24px;
        padding-bottom: 20px;
    }
}

.search-title-read {
        margin: 15px 0px;
        
        a{
        width: 150px;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px;
        text-align: center;    
        border: 1px solid #c8c8c8;
        font-family: Novecento Sans Web;
        color: black;
        }
}

.no-post {
    padding-top: 200px;
    color: #248A83;
    font-size: 24px;
    text-transform: uppercase;
}