// ------------Merriweather Fonts----------

@font-face {
    font-family: 'Merriweather Regular Bold';
    src: url('fonts/merriweather/fonts/Merriweather-Bold.eot');
    src: url('fonts/merriweather/fonts/Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/merriweather/fonts/Merriweather-Bold.woff2') format('woff2'),
        url('fonts/merriweather/fonts/Merriweather-Bold.woff') format('woff'),
        url('fonts/merriweather/fonts/Merriweather-Bold.ttf') format('truetype'),
        url('fonts/merriweather/fonts/Merriweather-Bold.svg#Merriweather-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather Black Italic';
    src: url('fonts/merriweather/fonts/Merriweather-BlackItalic.eot');
    src: url('fonts/merriweather/fonts/Merriweather-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/merriweather/fonts/Merriweather-BlackItalic.woff2') format('woff2'),
        url('fonts/merriweather/fonts/Merriweather-BlackItalic.woff') format('woff'),
        url('fonts/merriweather/fonts/Merriweather-BlackItalic.ttf') format('truetype'),
        url('fonts/merriweather/fonts/Merriweather-BlackItalic.svg#Merriweather-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather Black Bold';
    src: url('fonts/merriweather/fonts/Merriweather-Black.eot');
    src: url('fonts/merriweather/fonts/Merriweather-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/merriweather/fonts/Merriweather-Black.woff2') format('woff2'),
        url('fonts/merriweather/fonts/Merriweather-Black.woff') format('woff'),
        url('fonts/merriweather/fonts/Merriweather-Black.ttf') format('truetype'),
        url('fonts/merriweather/fonts/Merriweather-Black.svg#Merriweather-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather Light';
    src: url('fonts/merriweather/fonts/Merriweather-Light.eot');
    src: url('fonts/merriweather/fonts/Merriweather-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/merriweather/fonts/Merriweather-Light.woff2') format('woff2'),
        url('fonts/merriweather/fonts/Merriweather-Light.woff') format('woff'),
        url('fonts/merriweather/fonts/Merriweather-Light.ttf') format('truetype'),
        url('fonts/merriweather/fonts/Merriweather-Light.svg#Merriweather-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather Regular Italic';
    src: url('fonts/merriweather/fonts/Merriweather-Italic.eot');
    src: url('fonts/merriweather/fonts/Merriweather-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/merriweather/fonts/Merriweather-Italic.woff2') format('woff2'),
        url('fonts/merriweather/fonts/Merriweather-Italic.woff') format('woff'),
        url('fonts/merriweather/fonts/Merriweather-Italic.ttf') format('truetype'),
        url('fonts/merriweather/fonts/Merriweather-Italic.svg#Merriweather-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather Light Italic';
    src: url('fonts/merriweather/fonts/Merriweather-LightItalic.eot');
    src: url('fonts/merriweather/fonts/Merriweather-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/merriweather/fonts/Merriweather-LightItalic.woff2') format('woff2'),
        url('fonts/merriweather/fonts/Merriweather-LightItalic.woff') format('woff'),
        url('fonts/merriweather/fonts/Merriweather-LightItalic.ttf') format('truetype'),
        url('fonts/merriweather/fonts/Merriweather-LightItalic.svg#Merriweather-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather Bold Italic';
    src: url('fonts/merriweather/fonts/Merriweather-BoldItalic.eot');
    src: url('fonts/merriweather/fonts/Merriweather-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/merriweather/fonts/Merriweather-BoldItalic.woff2') format('woff2'),
        url('fonts/merriweather/fonts/Merriweather-BoldItalic.woff') format('woff'),
        url('fonts/merriweather/fonts/Merriweather-BoldItalic.ttf') format('truetype'),
        url('fonts/merriweather/fonts/Merriweather-BoldItalic.svg#Merriweather-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather Regular';
    src: url('fonts/merriweather/fonts/Merriweather-Regular.eot');
    src: url('fonts/merriweather/fonts/Merriweather-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/merriweather/fonts/Merriweather-Regular.woff2') format('woff2'),
        url('fonts/merriweather/fonts/Merriweather-Regular.woff') format('woff'),
        url('fonts/merriweather/fonts/Merriweather-Regular.ttf') format('truetype'),
        url('fonts/merriweather/fonts/Merriweather-Regular.svg#Merriweather-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// ------------Oswald Fonts----------

@font-face {
    font-family: 'Oswald Regular';
    src: url('fonts/oswald/fonts/Oswald-Regular.eot');
    src: url('fonts/oswald/fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/oswald/fonts/Oswald-Regular.woff2') format('woff2'),
        url('fonts/oswald/fonts/Oswald-Regular.woff') format('woff'),
        url('fonts/oswald/fonts/Oswald-Regular.ttf') format('truetype'),
        url('fonts/oswald/fonts/Oswald-Regular.svg#Oswald-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald Bold';
    src: url('fonts/oswald/fonts/Oswald-Bold.eot');
    src: url('fonts/oswald/fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/oswald/fonts/Oswald-Bold.woff2') format('woff2'),
        url('fonts/oswald/fonts/Oswald-Bold.woff') format('woff'),
        url('fonts/oswald/fonts/Oswald-Bold.ttf') format('truetype'),
        url('fonts/oswald/fonts/Oswald-Bold.svg#Oswald-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald Semi Bold';
    src: url('fonts/oswald/fonts/Oswald-SemiBold.eot');
    src: url('fonts/oswald/fonts/Oswald-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/oswald/fonts/Oswald-SemiBold.woff2') format('woff2'),
        url('fonts/oswald/fonts/Oswald-SemiBold.woff') format('woff'),
        url('fonts/oswald/fonts/Oswald-SemiBold.ttf') format('truetype'),
        url('fonts/oswald/fonts/Oswald-SemiBold.svg#Oswald-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}