.about-page-container {
    position: relative;

    img {
        filter: brightness(50%);
    }

    h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -80%);
        color: #FFF !important;
        font-size: 3rem !important;
        text-transform: uppercase;
    }
}

.about-content-container {
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;

    h2 {
        padding: 50px 0px;
    }

    p {
        text-align: left;
    }
}