.findus-container {
    display: grid;
    grid-template-columns: 5fr 1fr;
    padding-top: 150px;
    margin-left: 10%;
    margin-right: 10%;

    h2 {
        text-transform: uppercase;
        padding-bottom: 30px;
    }
}

.findus-content {
    width: 85%;

    iframe {
        margin: 0px 0px 30px;
    }

    p{
        margin-bottom: 30px;
    }
}