
.homepage-banner {
        width: 100%;
        height: auto;
        filter: brightness(60%);
        position: relative;
}

.front-logo {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%,-50%);
}