@font-face {
    font-family: '.';
    src: url('51d1dad0effa7031d53eaaf5cefb01cd.eot');
    src: url('51d1dad0effa7031d53eaaf5cefb01cd.eot?#iefix') format('embedded-opentype'),
        url('51d1dad0effa7031d53eaaf5cefb01cd.woff2') format('woff2'),
        url('51d1dad0effa7031d53eaaf5cefb01cd.woff') format('woff'),
        url('51d1dad0effa7031d53eaaf5cefb01cd.ttf') format('truetype'),
        url('51d1dad0effa7031d53eaaf5cefb01cd.svg#.') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: '.';
    src: url('13dd7633a13ad798c7977b625462005c.eot');
    src: url('13dd7633a13ad798c7977b625462005c.eot?#iefix') format('embedded-opentype'),
        url('13dd7633a13ad798c7977b625462005c.woff2') format('woff2'),
        url('13dd7633a13ad798c7977b625462005c.woff') format('woff'),
        url('13dd7633a13ad798c7977b625462005c.ttf') format('truetype'),
        url('13dd7633a13ad798c7977b625462005c.svg#.') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'novecento_sans_widedemibold';
    src: url('novecento_sans_widedemibold.eot');
    src: url('novecento_sans_widedemibold.eot?#iefix') format('embedded-opentype'),
        url('novecento_sans_widedemibold.woff2') format('woff2'),
        url('novecento_sans_widedemibold.woff') format('woff'),
        url('novecento_sans_widedemibold.ttf') format('truetype'),
        url('novecento_sans_widedemibold.svg#novecento_sans_widedemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'novecento_sans_widenormal';
    src: url('novecento_sans_widenormal.eot');
    src: url('novecento_sans_widenormal.eot?#iefix') format('embedded-opentype'),
        url('novecento_sans_widenormal.woff2') format('woff2'),
        url('novecento_sans_widenormal.woff') format('woff'),
        url('novecento_sans_widenormal.ttf') format('truetype'),
        url('novecento_sans_widenormal.svg#novecento_sans_widenormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '.';
    src: url('175805ee71620e92da45a90a5a5b67fe.eot');
    src: url('175805ee71620e92da45a90a5a5b67fe.eot?#iefix') format('embedded-opentype'),
        url('175805ee71620e92da45a90a5a5b67fe.woff2') format('woff2'),
        url('175805ee71620e92da45a90a5a5b67fe.woff') format('woff'),
        url('175805ee71620e92da45a90a5a5b67fe.ttf') format('truetype'),
        url('175805ee71620e92da45a90a5a5b67fe.svg#.') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: '.';
    src: url('b6f7bc99e91c3015acf401218d98df55.eot');
    src: url('b6f7bc99e91c3015acf401218d98df55.eot?#iefix') format('embedded-opentype'),
        url('b6f7bc99e91c3015acf401218d98df55.woff2') format('woff2'),
        url('b6f7bc99e91c3015acf401218d98df55.woff') format('woff'),
        url('b6f7bc99e91c3015acf401218d98df55.ttf') format('truetype'),
        url('b6f7bc99e91c3015acf401218d98df55.svg#.') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '.';
    src: url('71c9e6e839b3658920accef4d4cd9364.eot');
    src: url('71c9e6e839b3658920accef4d4cd9364.eot?#iefix') format('embedded-opentype'),
        url('71c9e6e839b3658920accef4d4cd9364.woff2') format('woff2'),
        url('71c9e6e839b3658920accef4d4cd9364.woff') format('woff'),
        url('71c9e6e839b3658920accef4d4cd9364.ttf') format('truetype'),
        url('71c9e6e839b3658920accef4d4cd9364.svg#.') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '.';
    src: url('8dd063e352df3e78316ab7d2b006f5dd.eot');
    src: url('8dd063e352df3e78316ab7d2b006f5dd.eot?#iefix') format('embedded-opentype'),
        url('8dd063e352df3e78316ab7d2b006f5dd.woff2') format('woff2'),
        url('8dd063e352df3e78316ab7d2b006f5dd.woff') format('woff'),
        url('8dd063e352df3e78316ab7d2b006f5dd.ttf') format('truetype'),
        url('8dd063e352df3e78316ab7d2b006f5dd.svg#.') format('svg');
    font-weight: bold;
    font-style: normal;
}

