@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Bold.eot');
    src: url('Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-Bold.woff2') format('woff2'),
        url('Merriweather-Bold.woff') format('woff'),
        url('Merriweather-Bold.ttf') format('truetype'),
        url('Merriweather-Bold.svg#Merriweather-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-LightItalic.eot');
    src: url('Merriweather-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-LightItalic.woff2') format('woff2'),
        url('Merriweather-LightItalic.woff') format('woff'),
        url('Merriweather-LightItalic.ttf') format('truetype'),
        url('Merriweather-LightItalic.svg#Merriweather-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-BoldItalic.eot');
    src: url('Merriweather-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-BoldItalic.woff2') format('woff2'),
        url('Merriweather-BoldItalic.woff') format('woff'),
        url('Merriweather-BoldItalic.ttf') format('truetype'),
        url('Merriweather-BoldItalic.svg#Merriweather-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Light.eot');
    src: url('Merriweather-Light.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-Light.woff2') format('woff2'),
        url('Merriweather-Light.woff') format('woff'),
        url('Merriweather-Light.ttf') format('truetype'),
        url('Merriweather-Light.svg#Merriweather-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'merriweatherbold_italic';
    src: url('merriweatherbold_italic.eot');
    src: url('merriweatherbold_italic.eot?#iefix') format('embedded-opentype'),
        url('merriweatherbold_italic.woff2') format('woff2'),
        url('merriweatherbold_italic.woff') format('woff'),
        url('merriweatherbold_italic.ttf') format('truetype'),
        url('merriweatherbold_italic.svg#merriweatherbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'merriweatherlight';
    src: url('merriweatherlight.eot');
    src: url('merriweatherlight.eot?#iefix') format('embedded-opentype'),
        url('merriweatherlight.woff2') format('woff2'),
        url('merriweatherlight.woff') format('woff'),
        url('merriweatherlight.ttf') format('truetype'),
        url('merriweatherlight.svg#merriweatherlight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'merriweatherlight_italic';
    src: url('merriweatherlight_italic.eot');
    src: url('merriweatherlight_italic.eot?#iefix') format('embedded-opentype'),
        url('merriweatherlight_italic.woff2') format('woff2'),
        url('merriweatherlight_italic.woff') format('woff'),
        url('merriweatherlight_italic.ttf') format('truetype'),
        url('merriweatherlight_italic.svg#merriweatherlight_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'merriweatherbold';
    src: url('merriweatherbold.eot');
    src: url('merriweatherbold.eot?#iefix') format('embedded-opentype'),
        url('merriweatherbold.woff2') format('woff2'),
        url('merriweatherbold.woff') format('woff'),
        url('merriweatherbold.ttf') format('truetype'),
        url('merriweatherbold.svg#merriweatherbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-LightItalic_1.eot');
    src: url('Merriweather-LightItalic_1.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-LightItalic_1.woff2') format('woff2'),
        url('Merriweather-LightItalic_1.woff') format('woff'),
        url('Merriweather-LightItalic_1.ttf') format('truetype'),
        url('Merriweather-LightItalic_1.svg#Merriweather-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Light_1.eot');
    src: url('Merriweather-Light_1.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-Light_1.woff2') format('woff2'),
        url('Merriweather-Light_1.woff') format('woff'),
        url('Merriweather-Light_1.ttf') format('truetype'),
        url('Merriweather-Light_1.svg#Merriweather-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Bold_1.eot');
    src: url('Merriweather-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-Bold_1.woff2') format('woff2'),
        url('Merriweather-Bold_1.woff') format('woff'),
        url('Merriweather-Bold_1.ttf') format('truetype'),
        url('Merriweather-Bold_1.svg#Merriweather-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-BoldItalic_1.eot');
    src: url('Merriweather-BoldItalic_1.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-BoldItalic_1.woff2') format('woff2'),
        url('Merriweather-BoldItalic_1.woff') format('woff'),
        url('Merriweather-BoldItalic_1.ttf') format('truetype'),
        url('Merriweather-BoldItalic_1.svg#Merriweather-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-BoldItalic_2.eot');
    src: url('Merriweather-BoldItalic_2.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-BoldItalic_2.woff2') format('woff2'),
        url('Merriweather-BoldItalic_2.woff') format('woff'),
        url('Merriweather-BoldItalic_2.ttf') format('truetype'),
        url('Merriweather-BoldItalic_2.svg#Merriweather-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Light_2.eot');
    src: url('Merriweather-Light_2.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-Light_2.woff2') format('woff2'),
        url('Merriweather-Light_2.woff') format('woff'),
        url('Merriweather-Light_2.ttf') format('truetype'),
        url('Merriweather-Light_2.svg#Merriweather-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Bold_2.eot');
    src: url('Merriweather-Bold_2.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-Bold_2.woff2') format('woff2'),
        url('Merriweather-Bold_2.woff') format('woff'),
        url('Merriweather-Bold_2.ttf') format('truetype'),
        url('Merriweather-Bold_2.svg#Merriweather-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-LightItalic_2.eot');
    src: url('Merriweather-LightItalic_2.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-LightItalic_2.woff2') format('woff2'),
        url('Merriweather-LightItalic_2.woff') format('woff'),
        url('Merriweather-LightItalic_2.ttf') format('truetype'),
        url('Merriweather-LightItalic_2.svg#Merriweather-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

